In [1]:
import pandas as pd
import numpy as np

oecd_data = pd.read_csv("../data/raw/qogdata_03_01_2025.csv", sep=";")
countries = pd.read_csv("../data/raw/country_mapping.csv")
#print(oecd_data.head(10))
countries.head(100)
oecd_data.head(100)

,ccode,cname,year,ccode_qog,cname_qog,ccodealp,ccodecow,version,cname_year,ccodealp_year,wjp_cj_cor,wjp_crsys_cor,ccp_cc,bti_cr,bti_acp,bci_bci
0,4,Afghanistan,1946,4,Afghanistan,AFG,"700,00",QoGStdTSjan24,Afghanistan 1946,AFG46,NaN,NaN,"2,00",NaN,NaN,NaN
1,4,Afghanistan,1947,4,Afghanistan,AFG,"700,00",QoGStdTSjan24,Afghanistan 1947,AFG47,NaN,NaN,"2,00",NaN,NaN,NaN
2,4,Afghanistan,1948,4,Afghanistan,AFG,"700,00",QoGStdTSjan24,Afghanistan 1948,AFG48,NaN,NaN,"2,00",NaN,NaN,NaN
3,4,Afghanistan,1949,4,Afghanistan,AFG,"700,00",QoGStdTSjan24,Afghanistan 1949,AFG49,NaN,NaN,"2,00",NaN,NaN,NaN
4,4,Afghanistan,1950,4,Afghanistan,AFG,"700,00",QoGStdTSjan24,Afghanistan 1950,AFG50,NaN,NaN,"2,00",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8,Albania,1968,8,Albania,ALB,"339,00",QoGStdTSjan24,Albania 1968,ALB68,NaN,NaN,"2,00",NaN,NaN,NaN
96,8,Albania,1969,8,Albania,ALB,"339,00",QoGStdTSjan24,Albania 1969,ALB69,NaN,NaN,"2,00",NaN,NaN,NaN
97,8,Albania,1970,8,Albania,ALB,"339,00",QoGStdTSjan24,Albania 1970,ALB70,NaN,NaN,"2,00",NaN,NaN,NaN
98,8,Albania,1971,8,Albania,ALB,"339,00",QoGStdTSjan24,Albania 1971,ALB71,NaN,NaN,"2,00",NaN,NaN,NaN
99,8,Albania,1972,8,Albania,ALB,"339,00",QoGStdTSjan24,Albania 1972,ALB72,NaN,NaN,"2,00",NaN,NaN,NaN

In [2]:
oecd_data.columns

Index(['ccode', 'cname', 'year', 'ccode_qog', 'cname_qog', 'ccodealp',
       'ccodecow', 'version', 'cname_year', 'ccodealp_year', 'wjp_cj_cor',
       'wjp_crsys_cor', 'ccp_cc', 'bti_cr', 'bti_acp', 'bci_bci'],
      dtype='object')

In [3]:
filtered_data = oecd_data.merge(countries, how='inner', left_on='cname', right_on='Country')
filtered_data = filtered_data.drop(columns=['Country', 'ISO2 Code', 'ccode', 'ccode_qog', 'cname_qog', 'ccodealp', 'ccodecow', 'version', 'cname_year', 'ccodealp_year'])
filtered_data['year'] = pd.to_datetime(filtered_data['year'], format='%Y', errors='coerce')
filtered_data = filtered_data[
    (filtered_data['year'].dt.year >= 2003) & (filtered_data['year'].dt.year <= 2023)
]

# Renaming cryptic column names
column_mapping = {
    "wjp_cj_cor": "Civil Justice is Free of Corruption",
    "wjp_crsys_cor": "Criminal System is Free of Corruption",
    "ccp_cc": "Corruption Commission Present in Constitution",
    "bti_cr": "Civil Rights",
    "bti_acp": "Anti Corruption Policy",
    "bci_bci": "The Bayesian Corruption Indicator",
}
filtered_data = filtered_data.rename(columns=column_mapping)
filtered_data.head(10000)

,cname,year,Civil Justice is Free of Corruption,Criminal System is Free of Corruption,Corruption Commission Present in Constitution,Civil Rights,Anti Corruption Policy,The Bayesian Corruption Indicator
57,Albania,2003-01-01,NaN,NaN,"2,00",NaN,NaN,"58,32"
58,Albania,2004-01-01,NaN,NaN,"2,00",NaN,NaN,"57,87"
59,Albania,2005-01-01,NaN,NaN,"2,00","8,00","4,00","57,98"
60,Albania,2006-01-01,NaN,NaN,"2,00",NaN,NaN,"57,75"
61,Albania,2007-01-01,NaN,NaN,"2,00","8,00","4,00","57,44"
...,...,...,...,...,...,...,...,...
1975,North Macedonia,2019-01-01,"0,38","0,53","2,00","8,00","5,00","44,51"
1976,North Macedonia,2020-01-01,"0,36","0,51","2,00",NaN,NaN,"44,72"
1977,North Macedonia,2021-01-01,"0,38","0,51","2,00","8,00","5,00","44,78"
1978,North Macedonia,2022-01-01,"0,37","0,50",NaN,NaN,NaN,NaN
1979,North Macedonia,2023-01-01,"0,36","0,46",NaN,NaN,NaN,NaN

In [4]:
filtered_data.to_csv("../data/processed/oecd.csv", index=False, index_label=False)

In [5]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 743 entries, 57 to 1979
Data columns (total 8 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   cname                                          743 non-null    object
 1   year                                           743 non-null    datetime64[ns]
 2   Civil Justice is Free of Corruption            279 non-null    object
 3   Criminal System is Free of Corruption          279 non-null    object
 4   Corruption Commission Present in Constitution  659 non-null    object
 5   Civil Rights                                   160 non-null    object
 6   Anti Corruption Policy                         160 non-null    object
 7   The Bayesian Corruption Indicator              678 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 52.2+ KB